body {
  background-color: #c1ebf5;
  /*margin: 0;*/
}

.navbar-nav {
  width: 100%;
}
.navbar-nav li {
  width: 25%;
  text-align: center;
}
#box {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.boxGroup {
  position: absolute;
  top: 70%;
  left: 15%;
  float: left;
  width: 104px;
  margin-right: 100px;
}

.turnButton{
  width: 50px;
  height: 50px;
  margin-bottom: 4px;
  border-radius: 8px;
  border: 1px solid #2095f2;
  background-color: #2095f2;
}
/*========= style bottom directive ======*/
.sizeButtonGroup {
  position: absolute;
  top: 85%;
  left: 40%;
}

.sizeButton {
  float: left;
}
.sizeButton button{
  border: 1px solid #2095f2;
  background-color: #2095f2;
}

/*============ text bottom directive ============*/
.textInputGroup{
  position: absolute;
  top: 72%;
  left: 43%;
  border-radius: 8px;
  border: 1px solid #2095f2;
  background-color: #2095f2;
 }
.textInpGroup {
  list-style-type: none;
  padding: 10px;
  margin-bottom: 0;
}
.textInpGroup li input {
  border: none;
  border-bottom: 1px solid #cdcdcd;
  background-color: #2095f2;
}

  /*============= < Color bottom directive > =============*/
.colorsGroup {
  border-radius: 8px;
  background-color: #2095f2;
  position: absolute;
  top: 63%;
  left: 41%;
  width: 250px;
  margin: 0 auto;
  overflow: hidden;
}
.headColorText button {
  border: 1px solid #2095f2;
  background-color: #2095f2;
  text-align: center;
  float: left;
  width: 50%;
}

.colorDiv {
  float: left;
  width: 23%;
  height: 50px;
  border-radius: 5px;
  margin: 1%;
}

/*========= params Table =========*/
.paramsTable {
  float: right;
  width: 150px;
}
.color {
  border-radius: 8px;
  text-align: center;
  width: 81px;
}
