<!doctype html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular App</title>
  <base href="/">
  <!--<script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>-->
</head>
<body ng-controller="appController as appCtrl">

    <nav class="navbar navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="active"><a href ng-click="appCtrl.current='style'">Style</a></li>
          <li><a href ng-click="appCtrl.current='text'">Text</a></li>
          <li><a href ng-click="appCtrl.current='logo'">Logo</a></li>
          <li><a href ng-click="appCtrl.current='color'">Color</a></li>
        </ul>
      </div>
    </nav>

    <div id="wrap">
      <div id="box" style="background-color: {{appCtrl.box.box.color}}; color: {{appCtrl.box.box.textColor}}"></div>
      <div class="boxGroup">
        <button ng-click="appCtrl.dbox.renderUp(45)" class="turnButton glyphicon glyphicon-arrow-up"></button>
        <button ng-click="appCtrl.dbox.renderDown(45)" class="turnButton glyphicon glyphicon-arrow-down"></button>
        <button ng-click="appCtrl.dbox.renderLeft(45)" class="turnButton glyphicon glyphicon-arrow-left"></button>
        <button ng-click="appCtrl.dbox.renderRight(45)" class="turnButton glyphicon glyphicon-arrow-right"></button>
      </div>
<!--======================== < Style bottom directive > ============================-->
      <div id="bottomParams">
        <style-box ng-show="appCtrl.current == 'style'" box="appCtrl.box" dbox="appCtrl.dbox"> </style-box>

<!--============== < Text bottom directive > ===============-->
        <div class="textInputGroup" ng-show="appCtrl.current == 'text'">
          <input-box dbox="appCtrl.dbox" table="appCtrl.table"></input-box>
        </div>

<!--============= < Logo directive > ============-->
        <div ng-show="appCtrl.current == 'logo'">
          Logo
        </div>

<!--============= < Color bottom directive > =============-->
        <color-box ng-show="appCtrl.current == 'color'" dbox="appCtrl.dbox" box="appCtrl.box"></color-box>
      </div>

<!--=========== < Params right table > ===========-->
      <div class="paramsTable">
        <table-box box="appCtrl.box" appCtrl="appCtrl.table"></table-box>
      </div>

    </div>

</body>
</html>
